.outer_part4{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding-top: 40px;
}
.card_part4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 144px;
    margin-right: 144px;
    padding-top: 16px;
    

}
.heading_part4{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    
}
.heading_part4 > h3{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    margin: 0;
    
}

.outer_Cardpart4{
    width: 299px;
    height: 260px;
    padding: 24px 32px 24px 32px;
    border-radius: 8px 0px 0px 0px ;
    border: 0.5px solid rgb(208, 208, 208);
    
}
.card_Cardpart4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

