.Signup_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: auto;
    box-shadow: 0 8px 30px 0 #262626;
    margin-top: 60px;
    background-color: #4CAF4F;
    border-radius: 10px;
}
.Signup_outer>h1{
    color: white;
}
form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 300px;
}
form> label{
    font-size: medium;
    font-weight: bold;
    font-family:inter;
    margin: 0;
    color: white;
}

form>button{
    border: none;
    background-color:#3083DC ;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
form>button:hover{
    background-color: white;
    color: black;
}

.forgot-signup{
    margin-top: 5px;
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 140px;
    height: 30px;
    width: 100%;
}
.forgot-signup>a{
    color: white;
    text-decoration: underline;
    font-size:15px;
}
.forgot_outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 8px 30px 0 #262626;
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top:8%;
}
.forgot_outer>form>h1{
    text-align: center;
}